@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#container{
	width: 600px;
	margin: 20px auto;
	background-color: aqua;
}

h1{
	margin: 20px 0;
	font-size: 18px;
	font-weight: bold;
}

#message{
	height: 20px;
	margin: 20px 0;
	font-size: 13px;
	font-weight: bold;
}

#message.success{
	color: #00f;
}

#message.error{
	color: #f00;
}

#control{
	margin: 20px 0;
	text-align: right;
}

#control a{
	font-size: 13px;
}

#post_todo{
	margin: 20px 0;
}

#todos{
	margin: 20px 0;
	list-style-type: none;
}

#todos li{
	padding: 4px 0;
	font-size: 13px;
}

#todos li a{
	margin-right: 5px;
}

#todos li span.body{
	margin-right: 20px;
}

#todos li span.date{
	color: #999
}